.navi{
  border: 3px solid #000000;
  position: top;
  background-attachment: scroll;
  background-image: url("/Main/Image/banner.png");
  display: flex;
  flex-direction: row;
  background-size: cover ;
  background-position: right 400px;
  justify-content: space-between;
}
body{
  margin : 0;
}
#title:active{
  color : red;
}
a{
  color : black;
  text-decoration: none;
  cursor : pointer;
}
a:hover{
  cursor: pointer;
}
.apr{
  display: flex ;
  gap : 30px;
}
.but{
  padding-top: 60px;
  padding-left : 20px;
  padding-right : 20px;
}
footer{
  color : white;
  background: url("image/footer.png") ;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 500px;
  position: bottom;
  border : 2px solid #000000;
  display: flex;
  justify-content: space-between;
  background-attachment: scroll;
  background-size: cover;
}
#re,#res{
  color:red;
  font-family: "Oswald", sans-serif;
}
.bas{
  font-family : "Oswald", sans-serif;
  font-size : 1.4em;
}